<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 hidden-xs col-lg-12" style="margin-top: -10px;">
            <div class="breadcrumb">
                <!--<div ncy-breadcrumb></div>-->
                <div class="bread-crumb">
                    <ul ng-show="Breadcrumb.length>0">
                        <li class="bc-home" ng-show="Breadcrumb.length>0"><a href="/">PriceDrummer</a></li>
                        <li ng-repeat="category in Breadcrumb | orderBy: 'level'" class="bc-home" ng-if="category.level==1" ng-class="{true:'breadcrumb-last', false:'breadcrumb-not-last'}[$last]" ><a href="{{category.url}}"> {{category.name}} </a></li>
                        <li ng-repeat="category in Breadcrumb | orderBy: 'level'" class="bc-home" ng-if="category.level!=1"  ng-class="{true:'breadcrumb-last', false:'breadcrumb-not-last'}[$last]" >&nbsp; {{category.name}} </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="visible-xs col-xs-12" style="margin-top: -10px;">
            <div class="breadcrumb">
                <!--<div ncy-breadcrumb></div>-->
                <div class="bread-crumb">
                    <ul ng-show="Breadcrumb.length>0">
                        <li class="bc-home" ng-show="Breadcrumb.length>0"><a href="/">PriceDrummer</a></li>
                        <li ng-repeat="category in Breadcrumb | orderBy: 'level'" class="bc-home" ng-if="category.level==1" ng-class="{true:'breadcrumb-last', false:'breadcrumb-not-last'}[$last]" ><a href="{{category.url}}"> {{category.name}} </a></li>
                        <li ng-repeat="category in Breadcrumb | orderBy: 'level'" class="bc-home" ng-if="category.level!=1"  ng-class="{true:'breadcrumb-last', false:'breadcrumb-not-last'}[$last]" >&nbsp; {{category.name}} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end row div -->

    <div class="row">
        <div class="col-md-10 col-xs-12 col-lg-10" style="margin-top: -10px;">
            <!--<div id="jssor_1"-->
                 <!--style="position: relative; margin: 0; top: 0px; left: 0px; width: 960px; height: 300px; overflow: hidden; visibility: hidden; background-color: #FFFFFF;">-->
                <!--&lt;!&ndash; Loading Screen &ndash;&gt;-->
                <!--<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">-->
                    <!--<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>-->
                    <!--<div style="position:absolute;display:block;background:url('../img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>-->
                <!--</div>-->
                <!--<div data-u="slides"-->
                     <!--style="cursor: default; position: relative; top: 0px; left: 0px; width: 750px; height: 300px; overflow: hidden;">-->
                    <!--<div data-p="112.50" style="display: none;" ng-repeat="slide in slideshow">-->
                        <!--<img data-u="image" src="{{slide.image}}"/>-->
                        <!--<div data-u="thumb">-->
                            <!--<img class="i" src="{{slide.image}}"/>-->
                            <!--&lt;!&ndash;<div class="t">Banner Rotator</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="c">360+ touch swipe slideshow effects</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Thumbnail Navigator &ndash;&gt;-->
                <!--<div data-u="thumbnavigator" class="jssort11"-->
                     <!--style="position:absolute;right:5px;top:0px;font-family: Verdana, Arial, Helvetica, sans-serif;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;width:200px;height:300px;"-->
                     <!--data-autocenter="2">-->
                    <!--&lt;!&ndash; Thumbnail Item Skin Begin &ndash;&gt;-->
                    <!--<div data-u="slides" style="cursor: default;">-->
                        <!--<div data-u="prototype" class="p">-->
                            <!--<div data-u="thumbnailtemplate" class="tp"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Thumbnail Item Skin End &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; Arrow Navigator &ndash;&gt;-->
                    <!--<span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;"-->
                          <!--data-autocenter="2"></span>-->
                    <!--<span data-u="arrowright" class="jssora02r" style="top:0px;right:218px;width:55px;height:55px;"-->
                          <!--data-autocenter="2"></span>-->
            <!--</div>-->

            <div class="row product_page">
                <div style="display: none;">
                    <div ng-init="set_cat_class(set_cat_class_check)" class="" ng-repeat="catlev2 in categorylev2n3 |orderBy:'-lev3s'" my-dir>

                        <p  class="head_proname" >{{catlev2.name}}</p>

                        <div class="thumbnail single-list-product test-category" style="width: 100%;">
                            <div class="col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="image_wrapper">
                                       <img ng-src="img/cat_images/{{catlev2.name|ReformatID}}.png" alt="{{catlev2.name|ReformatID}}" title="{{catlev2.name}}">
                                    </div>

                                </div>
                                <div style="margin-top: 10px;_max-height: 105px;overflow: hidden;transition: all 2s ease;" id="category_lev_3_list" class="row">
                                    <div class="list_info">
                                        <ul>
                                            <li ng-repeat="catlev3 in catlev2.lev3s" repeat-end="onEnd()">
                                                <a  ng-hide="catlev3.lev4s.length" style="font-size: 12px;" href="/filter/{{catlev3.category_id}}/{{catlev3.name|spacelessUrl}}"
                                                   title="{{catlev3.name}}">{{catlev3.name}}</a>
                                                <a ng-show="catlev3.lev4s.length" style="font-size: 12px;"  class="disabled" title="{{catlev3.name}}">{{catlev3.name}}</a>

                                                <span>{{catlev3.length}}</span>
                                                <div  class="level-4sub" style="margin-left: 17px;font-size: 11px;" ng-repeat="catlev4 in catlev3.lev4s">
                                                     <a style="font-size: 12px;" href="/filter/{{catlev4.category_id}}/{{catlev4.name|spacelessUrl}}"
                                                                        title="{{catlev3.name}}">{{catlev4.name}}</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div class="row">
                                    <button class="show_all" ng-show="catlev2.lev3s.length > limit" onclick="setLimit(this)">Show all...</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="row" ng-show="listCompleteVar" ng-cloak style="margin-top: -10px;">
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-4 col-sm-6 col-xs-12" id="MyClass1">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12" id="MyClass2">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12" id="MyClass3">
                        </div>
                    </div>
                </div>


            </div>
        </div> <!-- end col-md-10 div -->

        <div class="col-md-2" style="margin-left: -5px; margin-top: -10px;">
            <!--<div class="handle_abs">-->
                <!--<div class="category_area" style="height: 736px; padding: 5px;">-->
                    <!--<p>Content of advert goes here.</p>-->
                <!--</div>-->
            <!--</div> -->
        </div><!-- end col-md-2 div -->
    </div> <!-- end row div -->
</div>