<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="seller_heading col-md-12 col-sm-12 hidden-xs col-lg-12" style="margin-top: -10px;">
            <h1>Contact Seller</h1>
        </div>
    </div>

    <div class="row seller_area">
        <div class="col-md-12 col-sm-12 hidden-xs col-lg-12">
            <div class="seller_left col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="main_image_wrapper">
                            <img style="max-height: 200px;" src="http://www.pricedrummer.com/images/static/product_images/large/{{compare_product.image}}.png" alt="">
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="col-md-4 col-lg-4">-->
                    <!--<img src="static/product_images/thumbs/13108.png" alt="">-->
                    <!--</div>-->
                    <!--</div> http://www.pricedrummer.com/images/static/product_images/medium/21541.png -->
                </div>
            </div>
            <div class="seller_right col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="item_area">
                            <div class="sellerPriceArea">
                                <div class="seller_btn pull-right">
                                    <!--<a href="#send"><img width="150" height="34" src="https://image-priceprice.ssl.k-img.com/ph/images/common/btn_sendmessage_02.png"></a>-->
                                    <a href="#send" class="seller_submit_btn">Send Message</a>
                                </div>
                                <p class="seller_name">{{Retailer_Product_Info.name}}
                                </p>
                                <ul class="seller_price">
                                    <li ng-if="Retailer_Product_Info.price">Price :
                                        <span class="price">{{Retailer_Product_Info.price| currency: 'GH¢'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <table style="margin-top: 10px; margin-bottom: 20px;" class="specs_table">
                            <tbody>
                            <tr>
                                <th ng-if="Retailer_Info.company_name">Retailer Company Name</th>
                                <td>
                                   {{Retailer_Info.company_name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="specs_table">
                            <tbody>
                            <tr>
                                <th ng-if="Retailer_Info.shop_address">Physical Shop Address</th>
                                <td>
                                    {{Retailer_Info.shop_address}}
                                </td>
                            </tr>
                            <tr>
                                <th>Delivery</th>
                                <td><p ng-if="Retailer_Product_Info.has_delevery ==1">
                                    Delivery Cost : depends on the location.
                                    <br>
                                    Est. Delivery Days : {{Retailer_Product_Info.delevery_details}}
                                </p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="seller_info_area col-md-3 col-lg-3">
            <div class="seller_box">
                <h2>Seller Info</h2>
                <div class="seller_info_image">
                    <a href="/member/{{Retailer_Info.company_name|spacelessUrl| lowercase}}"><img alt="" height="44" src="http://www.pricedrummer.com/images/static/retailers/ghana/{{Retailer_Info.merchant_id}}.jpg"></a>
                </div>

                <div class="seller_info_name">
                    <a href="/member/{{Retailer_Info.company_name|spacelessUrl| lowercase}}">{{Retailer_Info.company_name}}</a>
                </div>

                <!--<div class="seller_info_list">-->
                    <!--<ul>-->
                        <!--<li>Physical Shop</li>-->
                        <!--<li class="tel">-->
                            <!--<span>Tel</span>-->
                            <!--<img class="telImg"-->
                                 <!--onerror="this.src='https://image-priceprice.ssl.k-img.com/ph/images/common/bg_grey_01.gif'; this.onerror=null; return false;"-->
                                 <!--src="https://image-priceprice.ssl.k-img.com/ph/images/user/user_shop/39222/tel_ee1d21306cddf0e43641f1dc52d810be.png">-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    <div class="message_area col-md-9 col-lg-9">
        <div class="message_box">
            <div class="message_title">
                <h2>Send Message</h2>
            </div>

            <form ng-submit="Submit_retailer_email_form(inquiry)" id="retailer_email_form">
                <div class="message_input_wrapper">
                    <label for="inquiry_email">E-mail</label>
                    <input type="text" id="inquiry_email" ng-model="inquiry.email_from" name="inquiry[email_from]" required="required"
                           maxlength="100">
                    <!--<input type="hidden" value="{{Retailer_Info.email}}" name="inquiry[email_from]">-->

                    <input type="hidden" value="{{FILTER_PAGE_CURRENT_URL}}"  name="redirect_to">
                </div>

                <div class="message_input_wrapper">
                    <label for="inquiry_tel">Phone number <span>(optional)</span></label>
                    <input type="text" id="inquiry_tel" ng-model="inquiry.tel" name="inquiry[tel]"
                           maxlength="20">
                </div>

                <div class="message_input_wrapper">
                    <label for="inquiry_message">Message to seller</label>
                    <textarea id="inquiry_message"  ng-model="inquiry.message" required="required" rows="8"
                              cols="20"></textarea>

                </div>

                <div class="message_input_wrapper">
                    <p><label><input type="checkbox" ng-model="inquiry.copy_flg" id="inquiry_copy_flg"
                                     value="1"><span>&nbsp;send a copy to me</span></label></p>
                    <input type="submit" class="seller_submit_btn">
                </div>
            </form>


            <ul class="attention">
                <li><i class="fa fa-check"></i>&nbsp;If the seller offers a higher price than the price shown,
                    <a href="http://m.me/PriceDrummerGH" target="_blank">please let us know.</a>
                </li>
                <li><i class="fa fa-check"></i>&nbsp;Please Never pay in advance to receive the object from the
                    seller.
                </li>
                <li><i class="fa fa-check"></i>&nbsp;The seller and purchaser are responsible for this transaction.
                    We make no warranty of the content.
                </li>
            </ul>
        </div>
    </div>
</div>