#pageslide-left .slide-tools {
  background-color: #171a20;
}
#pageslide-left .btn {
  color: rgba(255, 255, 255, 0.3);
}
#pageslide-left .btn:hover {
  color: white;
  background-color: rgba(17, 19, 23, 0.4);
}
#pageslide-left .user-profile {
  border-color: #2d323e;
  position: relative;
}
#pageslide-left .user-profile h5 {
  color: #6e727c;
}
#pageslide-left .user-profile h4 {
  color: white;
}